name: Say Hello

on: 
  push:
    branches:
      - main
jobs:
  hello_world:
    runs-on: windows-latest
    steps:
      - name: Echo the message
        run: |
          echo "Hola David"
      - name: Dime la fecha
        run: date
      - run: ls -l